body {
	--radius-s: 100px;
	--radius-m: 100px;
	--radius-l: 100px;
	--input-radius: 100px;
	--tab-radius-active: 100px;
	--checkbox-radius: 100px;
	--toggle-radius: 100px;
	--toggle-thumb-radius: 100px;
	--slider-thumb-radius: 100px;

	color: #44ff00;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {
	--background-primary: #FB0471;
	--background-secondary: #feff00;
}

.theme-light {
	--background-primary: #FB0471;
	--background-secondary: #feff00;
}